<section class="page-about" id="About Us">
  <div class="container">
    <div class="container-about-list">
      <div class="container-about-text">
        <h2 class="title-about">About Us</h2>
        <ul class="menu-about list-style">
          <li class="item-about">
            <p class="paragraph-about paragraph-first">
              The store "Vyshyvanka Vibes" is a place where traditional
              Ukrainian vyshyvanka comes to life with new zest and style. Our
              store offers a wide selection of high-quality and authentic
              embroidery, which combines the elegance of traditional needlework
              and modern design.
            </p>
          </li>
          <li>
            <p class="paragraph-about">
              In "Vyshyvanka Vibes" you will find various models of embroidery,
              from classic to modern, corresponding to the latest fashion
              trends. Our embroidery is made using natural fabrics and is
              embroidered by highly qualified craftsmen who convey the beauty of
              Ukrainian culture in every detail.We believe that vyshyvanka is
              not just clothing, but a symbol of national pride, the heritage of
              our ancestors and a way of expressing one's individuality. Each
              embroidery from "Vyshyvanka Vibes" has its own unique history and
              symbolism, which gives it a special meaning.
            </p>
          </li>
        </ul>
      </div>
      <img
        class="about-img"
        srcset="
          ./img/about-img/about-mobile.jpg     335w,
          ./img/about-img/about-tablet.jpg     704w,
          ./img/about-img/about-laptop.jpg     594w,
          ./img/about-img/about-mobile@2x.jpg  670w,
          ./img/about-img/about-tablet@2x.jpg 1408w,
          ./img/about-img/about-laptop@2x.jpg 1188w
        "
        sizes="(min-width: 1280px) 594px, (min-width: 768px) 704px, (max-width: 767px) 335px"
        src="./img/about-img/about-mobile.jpg"
        alt="embroidered shirt"
        width="594px"
        height="545px"
      />
    </div>
  </div>
</section>
