<section class="collection" id="our-collection">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <div class="collection-photos">
          <picture>
            <source
              srcset="
                ./img/collection-img/august-laptop.jpg    1x,
                ./img/collection-img/august-laptop@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection-img/august-tablet.jpg    1x,
                ./img/collection-img/august-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/collection-img/august-mobile.jpg    1x,
                ./img/collection-img/august-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-image"
              src="./img/collection-img/blousering.jpg"
              alt="blousering"
            />
          </picture>
        </div>

        <div class="collection-desc">
          <h3 class="collection-model">AUGUST Poltava women's blouse</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-photos">
          <picture>
            <source
              srcset="
                ./img/collection-img/gorgany-laptop.jpg    1x,
                ./img/collection-img/gorgany-laptop@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection-img/gorgany-tablet.jpg    1x,
                ./img/collection-img/gorgany-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/collection-img/gorgany-mobile.jpg    1x,
                ./img/collection-img/gorgany-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-image"
              src="./img/collection-img/gorgany.jpg"
              alt="blouse gorgany"
            />
          </picture>
        </div>

        <div class="collection-desc">
          <h3 class="collection-model">Women's blouse Gorgany</h3>
          <p class="price">3350 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-photos">
          <picture>
            <source
              srcset="
                ./img/collection-img/crimea-laptop.jpg   1x,
                /img/collection-img/crimea-laptop@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection-img/crimea-tablet.jpg    1x,
                ./img/collection-img/crimea-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/collection-img/crimea-mobile.jpg    1x,
                ./img/collection-img/crimea-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-image"
              src="./img/collection-img/crimea.jpg"
              alt="blouse crimea"
            />
          </picture>
        </div>

        <div class="collection-desc">
          <h3 class="collection-model">Women's blouse Crimea</h3>
          <p class="price">4000 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-photos">
          <picture>
            <source
              srcset="
                ./img/collection-img/verkhovina-laptop.jpg    1x,
                ./img/collection-img/verkhovina-laptop@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection-img/verkhovina-tablet.jpg    1x,
                ./img/collection-img/verkhovina-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/collection-img/verkhovina-mobile.jpg    1x,
                ./img/collection-img/verkhovina-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-image"
              src="./img/collection-img/verkhovina.jpg"
              alt="shirt verkhovina"
            />
          </picture>
        </div>

        <div class="collection-desc">
          <h3 class="collection-model">Men's shirt Verkhovina</h3>
          <p class="price">3100 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-photos">
          <picture>
            <source
              srcset="
                ./img/collection-img/mountain-laptop.jpg    1x,
                ./img/collection-img/mountain-laptop@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection-img/mountain-tablet.jpg    1x,
                ./img/collection-img/mountain-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/collection-img/mountain-mobile.jpg    1x,
                ./img/collection-img/mountain-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="collection-image"
              src="./img/collection-img/mountain.jpg"
              alt="shirt mountain"
            />
          </picture>
        </div>

        <div class="collection-desc">
          <h3 class="collection-model">Mountain men's shirt</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-photos">
          <picture>
            <source
              srcset="
                ./img/collection-img/yasen-laptop.jpg    1x,
                ./img/collection-img/yasen-laptop@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/collection-img/yasen-tablet.jpg    1x,
                ./img/collection-img/yasen-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/collection-img/yasen-mobile.jpg    1x,
                ./img/collection-img/yasen-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="collection-image"
              src="../img/collection-img/yasen.jpg"
              alt="shirt yasen"
            />
          </picture>
        </div>

        <div class="collection-desc">
          <h3 class="collection-model">Men's shirt Yasen</h3>
          <p class="price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
