<footer class="page-footer">
  <div class="container footer-container">
    <ul class="footer-menu">
      <li class="footer-menu-item">
        <a class="menu-link" href="#about-us">About us</a>
      </li>
      <li class="footer-menu-item">
        <a class="menu-link" href="#customer-order">Customer order</a>
      </li>
      <li class="footer-menu-item">
        <a class="menu-link" href="#our-collection">Our collection</a>
      </li>
      <li class="footer-menu-item">
        <a class="menu-link" href="#Testimonials">Testimonials</a>
      </li>
    </ul>
    <p class="footer-text">
      A touch of <span class="footer-span">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
