<header class="header">
    <div class="container header-box">
        <a href="">
            <img src="./img/logo.svg" alt="logo" width="44" height="39">
        </a>
        <nav class="header-nav">
            <ul class="header-list list">
                <li class="header-item">
                    <a class="header-link link" href="#about-us">About us</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="#our-collection">Our collection</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="#customer-order">Customer order</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="#testimonials">Testimonials</a>
                </li>
            </ul>
        </nav>
          <address class="address-header">
            <a class="address link" href="tel:+380684439426">+380 (68) 443-94-26</a>
          </address>
        <div class="social-and-menu">
          <div class="social-networks">
            <ul class="network-list list">
                <li class="network-item">
                    <a href="https://www.facebook.com/goITclub/" class="network-link link">
                        <svg class="network-icon" width="28" height="28">
                            <use href="./img/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="network-item">
                    <a href="https://www.instagram.com/goitclub/" class="network-link link">
                        <svg class="network-icon" width="28" height="28">
                            <use href="./img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="network-item">
                    <a href="https://www.youtube.com/c/GoIT" class="network-link link">
                        <svg class="network-icon" width="28" height="28">
                            <use href="./img/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
          </div>
          <button class="mobile-open-button" type="button">
            <svg class="mobile-open-button-icon" width="36" height="24">
                <use href="./img/sprite.svg#icon-nav-menu"></use>
            </svg>
          </button>
        </div>
    </div>
</header>