<div class="mob-menu is-open">
  <div mob-menu-head>
    <a class="mob-menu-phone-number" href="tel:+380684439426"
      >+380 (68) 443-94-26</a
    >
    <button class="mob-menu-close-btn" type="button">
      <svg class="close-btn-icon" width="36" height="36">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mob-menu-nav">
    <ul mob-menu-nav-list>
      <li class="mob-menu-nav-item">
        <a class="mob-menu-mav-link" href="#about">About us</a>
      </li>
      <li class="mob-menu-nav-item">
        <a class="mob-menu-mav-link" href="#collection">Our collection </a>
      </li>
      <li class="mob-menu-nav-item">
        <a class="mob-menu-mav-link" href="#order">CUSTOMER ORDER</a>
      </li>
      <li class="mob-menu-nav-item">
        <a class="mob-menu-mav-link" href="#testimonials">TEstimonials</a>
      </li>
    </ul>
  </nav>
  <ul></ul>
</div>
