<div class="mob-menu js-menu-container is-open">
  <a class="mob-menu-phone-number header-link" href="tel:+380684439426"
    >+380 (68) 443-94-26</a
  >
  <button class="mob-menu-close-btn js-close-menu" type="button">
    <svg class="close-btn-icon" width="36" height="36">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <nav class="mob-menu-nav">
    <ul class="mob-menu-nav-list">
      <li class="mob-menu-nav-item">
        <a class="mob-menu-mav-link" href="#About-Us">About us</a>
      </li>
      <li class="mob-menu-nav-item">
        <a class="mob-menu-mav-link" href="#collection">Our collection </a>
      </li>
      <li class="mob-menu-nav-item">
        <a class="mob-menu-mav-link" href="#order">CUSTOMER ORDER</a>
      </li>
      <li class="mob-menu-nav-item">
        <a class="mob-menu-mav-link" href="#testimonials">TEstimonials</a>
      </li>
    </ul>
  </nav>
</div>
