<section class="container testimonials-container" id="testimonials">
  <h2 class="testimonials-header">Testimonials</h2>
  <ul class="testimonials-list">
    <li class="testimonials-items">
      <div class="cont-border">
        <img
          class="clients-photo"
          srcset="./img/testimonials-img/maria@2x.png 2x"
          src="./img/testimonials-img/maria.png"
          alt="photo of the client Maria"
          width="64"
          height="64"
        />
        <h3 class="clients-name">Maria Tkachuk</h3>
        <p class="response">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </div>
    </li>
    <li class="testimonials-items item-t">
      <div class="cont-border">
        <img
          class="clients-photo"
          srcset="./img/testimonials-img/sergey@2x.png 2x"
          src="./img/testimonials-img/sergey.png"
          alt="photo of the client Maria"
          width="64"
          height="64"
        />
        <h3 class="clients-name">Sergey Rybachok</h3>
        <p class="response">
          Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
          simply masterpieces! I fell in love with the quality of the materials
          and the skill of the artisans behind each product. This is my favorite
          embroidery shop where I always find something special and unique.
        </p>
      </div>
    </li>
    <li class="testimonials-items item-d">
      <div class="cont-border">
        <img
          class="clients-photo"
          srcset="./img/testimonials-img/natalia@2x.png 2x"
          src="./img/testimonials-img/natalia.png"
          alt="photo of the client Maria"
          width="64"
          height="64"
        />
        <h3 class="clients-name">Natalia Chatuk</h3>
        <p class="response">
          Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
          culture. Their embroidery reflects the spirit and traditions of our
          people. I not only buy embroidered shirts for myself, but also give
          them to my friends abroad as a symbol of our beauty and national
          pride.
        </p>
      </div>
    </li>
  </ul>
</section>
