<div class="testimonials-container">
  <h2 class="testimonials-header">Testimonials</h2>
  <ul class="testimonials-list">
    <li class="testimonials-items">
      <img
        class="clients-photo"
        srcset="../img/testimonials-img/maria@2x.jpg 2x"
        src="../img/testimonials-img/maria.jpg"
        alt="photo of the client Maria"
        width="64"
        height="64"
      />

      <h3 class="clients-name">Maria Tkachuk</h3>
      <p class="response">
        I was pleasantly surprised by the variety of embroidery offered by
        Vyshyvanka Vibes. They have models for every taste - from classic to
        modern. I bought an embroidered dress to celebrate a special occasion
        and received impeccable service and refinement in every detail.
      </p>
    </li>
    <li class="testimonials-items"></li>
    <li class="testimonials-items"></li>
  </ul>
  <!-- <div class="cont">
    <ul class="list">
      <li class="list-item">About us</li>
      <li class="list-item">Our collection</li>
    </ul>
    <ul class="list">
      <li class="list-item">CUSTOMER ORDER</li>
      <li class="list-item">TEstimonials</li>
    </ul>
  </div>
</div> -->
</div>
