/* Basic Presets to our project */

:root {
  --clr-white: #fcf9f9;
  --clr-yellow: #ecd979;
  --clr-charl-green: #1c2225;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--clr-charl-green);
  color: var(--clr-white);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
